<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Dingtalk/Css/Dingtalkapprovecenter/approve.css"/>
		<title></title>
	</head>
	<body>
		<div class="main">
			<div class="pl10 bgfff">
				<a href="" class="bbt pt10 pb10 pr10 clearfix block">
					<div class="fl ell-width">
						<p class="ellipsis ft14">吴丹吴丹的申请</p>
						<p class="c999 ft12">2016.02.03</p>
					</div>
					<p class="fr cgreen ft16 pt10">审批通过</p>
				</a>
				<a href="" class="bbt pt10 pb10 pr10 clearfix block">
					<div class="fl ell-width">
						<p class="ellipsis ft14">吴丹吴丹的申请</p>
						<p class="c999 ft12">2016.02.03</p>
					</div>
					<p class="fr cred ft16 pt10">审核未通过</p>
				</a>
				<a href="" class="bbt pt10 pb10 pr10 clearfix block">
					<div class="fl ell-width">
						<p class="ellipsis ft14">吴丹吴丹的申请</p>
						<p class="c999 ft12">2016.02.03</p>
					</div>
					<p class="fr orange ft16 pt10">待审批</p>
				</a>
			</div>			
		</div>
	</body>
</html>
