<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
</head>
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__ROOT__/Public/Js/jquery-ui-1.10.3.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<body>
{$body['head']}
<div class="container-fluid">
    <div class="row">
        {$body['sider']}
        <div class="col-md-10">
            <if condition="$flag eq 0 ">
                <a href="<?php echo U('statistics/Salerstatistics') ?>?type=1" type="button" class="btn btn-info pull-right">显示销售额</a>
            <else />
                <a href="<?php echo U('statistics/Salerstatistics') ?>?type=0" type="button" class="btn btn-info pull-right">显示销量</a>
            </if>
            <div id="container" style="min-width:400px;height:400px;"></div>
        </div>
    </div>

</div>
<script>
    var jsonData = {$jsonData};
    var newList = [];
    var num = 0;
    for(var k in jsonData){
        if(jsonData.hasOwnProperty(k)){
            var tmpList = [];
            for(var k1 in jsonData[k]){
                if(jsonData[k].hasOwnProperty(k1)){
                    var tmpK1List = k1.split('-');
                    tmpK1List = Date.UTC(tmpK1List[0],tmpK1List[1]-1,1);
                    tmpList.push([tmpK1List , jsonData[k][k1]]);
                }
            }
            num ++;
            newList.push({name:k,data:tmpList});
        }
    }
    // create the chart
    $('#container').highcharts({
        chart: {

        },
        title: {
            text: '销售员统计'
        },
        xAxis:{
            title:{
                text:'时间'
            },
            tickInterval:30*24 * 3600 * 1000,
            type: 'datetime',
            dateTimeLabelFormats:{
                millisecond:"%H:%M:%S.%L",
                second:"%H:%M:%S",
                minute:"%H:%M",
                hour:"%H:%M",
                day:"%m月%d日",
                week:"w-%m-%d",
                month:"%Y-%m",
                year:"%Y"
            }
        },

        yAxis:{
            title:{
            <if condition="$flag eq 0 ">
                text:'销量'
            <else />
                text:'销售额'
            </if>

            },

        } ,
        tooltip:{
            dateTimeLabelFormats:{
                millisecond:"%H:%M:%S.%L",
                second:"%H:%M:%S",
                minute:"%H:%M",
                hour:"4%H:4%M",
                day:"%Y-%m-%d",
                week:"%m-%d",
                month:"%Y-%m",
                year:"%Y"
            }

        },
        series:newList
    });

</script>



</body>
</html>